# Telegram Bot sozlamalari
BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_telegram_id_here
CHANNEL_ID=@your_channel_username

# To'lov sozlamalari
CARD_NUMBER=0000 0000 0000 0000
CARD_OWNER=+998901234567
CLICK_URL=https://my.click.uz/services/pay?service_id=XXXXX&merchant_id=XXXXX
PAYME_URL=https://checkout.paycom.uz/XXXXX
